.botao-wpp-flutuante:hover {
  transition: 0.8S;
  background-color: #DDAA6B;
  color: white;
}

.word {
  position: relative;
}

.word::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #FF8731;
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  animation: infinite-line 2s linear infinite;
}

@keyframes infinite-line {
  0% {
     transform: scaleX(0);
  }

  50% {
     transform: scaleX(1);
  }

  100% {
     transform: scaleX(0);
  }
}


@media(max-width: 474.99px) {

  .botao-fixo-rodape-1 {
     position: fixed;
     bottom: -33px;
     width: 100%;
     height: 70px;
     z-index: 9999;
  }

  .botao-fixo-rodape-2 {
     position: fixed;
     bottom: 5px;
     width: 100%;
     height: 70px;
     z-index: 9997;
  }

  .img-rodape-2 {
     width: 10%;
  }

  .img-rodape-1 {
     width: 10%;
  }
}

@media(min-width:475px) and (max-width: 700.99px) {
  .botao-fixo-rodape-1 {
     position: fixed;
     bottom: -33px;
     width: 100%;
     height: 70px;
     z-index: 9999;
  }

  .botao-fixo-rodape-2 {
     position: fixed;
     bottom: 5px;
     width: 100%;
     height: 70px;
     z-index: 9997;
  }

  .img-rodape-2 {
     width: 10%;
  }

  .img-rodape-1 {
     width: 10%;
  }
}

@media(min-width:701px) and (max-width: 10000px) {
  .botao-fixo-rodape-1 {
     position: fixed;
     bottom: -33px;
     width: 100%;
     height: 70px;
     z-index: 9999;
  }

  .botao-fixo-rodape-2 {
     position: fixed;
     bottom: 5px;
     width: 100%;
     height: 70px;
     z-index: 999;
  }

  .img-rodape-2 {
     width: 7%;
  }

  .img-rodape-1 {
     width: 7%;
  }
}


@media(min-width: 991.99px) {
  .esconde-desktop {
     display: none;
  }
}

@media(max-width: 991.98px) {
  .esconde-mobile {
     display: none;
  }
}

body {
  background-color: black;
  color: white;
}

/* Barra de rolagem personalizada */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #FFE078;
  border-radius: 20px;
  border: 3px solid #FFE078;
}

/* Estilos globais */
html, body {
  scroll-behavior: smooth;
}

/* Tipografia */
h2 {
  font-size: 36px;
  color: #FFE078;
  font-weight: bold;
  font-family: "Open sans",sans-serif;
}

p,
li,
a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

.navbar-toggler{
  border: 1px solid #FFE078;
  color: white;
  padding: 10px 20px;
}

.close-icon{
  color: red;
}

.navbar-toggler-icon{
  display: inline;
}

/* Classes de utilitários */
.fonte-bold {
  font-weight: bold;
}

.fonte-white {
  color: white;
}

.fonte-blue {
  color: #FFE078;
}

/* Media Query */
@media (min-width: 1200px) {
  .container {
     max-width: 1240px;
  }
}

/* Classes de posicionamento */
.no-padding {
  padding: 0;
  margin: 0;
}

.centraliza {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.centraliza-desk-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------ NAV ----------*/
.navbar{
  padding: 30px 0px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(22px);
}

nav button{
  margin-left: 40px;
}

nav h2{
  font-size: 20px;
  color: white;
}

nav h2 i{
  color: #FFE078;
}

nav h2 span{
  color: #FFE078;
}

.nav-item a{
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-size: 14px;
  margin: 0px 5px;
}

.nav-item a:hover{
  color: #FFE078;
}

.nav-item .active{
  color: #FFE078;
  font-weight: bold;
}

/*------------ FULL BANNER INICIO -----------*/

.bg-inicio {
  padding: 160px 0px 80px 0px;
}

.bg-inicio .first{
  margin-top: 180px;
}

.hello-container {
  display: flex;
  align-items: center; 
}

.hello-line {
  width: 30px; 
  height: 2px; 
  background-color: #FFE078;
  margin-right: 10px; 
}

.hello-text {
  font-family: 'Arial', sans-serif; 
  font-size: 1.2rem; 
  font-weight: bold; 
  color: #FFE078;
  text-transform: uppercase; 
}

.bg-inicio h1{
  font-size: 32px;
  font-family: "Ruda",sans-serif;
  margin: 10px 0 20px;
  font-weight: bold;
}

.bg-inicio h2{
  font-weight: bold;
  font-size: 20px;
  color: #FFE078;
  font-family: "Press Start 2P", system-ui;
}

.bg-inicio img{
  height: 600px;
  object-fit: cover;
  width: 100%;
  border-radius: 100%;
}

.ctas-topo{
  display: flex;
  margin-top: 25px;
}

.cta-topo{
  background: #FFE078;
  box-shadow: 0px 0px 5.4px -1px #FFE078;
  border-radius: 99px;
  padding: 10px 25px;
  color: white;
  font-size: 17px;
  display: inline-block;
  width: auto;
}

.cta-topo:hover{
  background: transparent;
  box-shadow: 0px 0px 5.4px -1px #FFE078;
  color: #FFE078;
  border: 1px solid #FFE078;;
  transition: 0.3s all ease;
}

.cta-topo-2:hover{
  background: #FFE078;
  box-shadow: 0px 0px 5.4px -1px #FFE078;
  color: white;
  transition: 0.3s all ease;
}

.cta-topo-2{
  background: transparent;
  box-shadow: 0px 0px 5.4px -1px #FFE078;
  border-radius: 99px;
  padding: 10px 25px;
  color: #FFE078;
  border: 1px solid #FFE078;;
  font-size: 17px;
  display: inline-block;
  width: auto;
  margin-left: 25px;
}

.cta-padrao {
  background: transparent;
  box-shadow: 0px 0px 5.4px -1px #FFE078;
  border-radius: 99px;
  padding: 10px 25px;
  color: #FFE078;
  border: 1px solid #FFE078;;
  font-size: 20px;
  margin-top: 65px;
  display: inline-block;
  width: 550px;
}

.ctas-topo i, .cta-padrao  i{
  padding-left: 25px;
}

/*-------- PARTE 2 ------*/

.bg-parte-2 .col-lg-6:nth-child(2){
  padding: 65px 0px;
}

.bg-parte-2 img{
  margin-left: -40px;
  height: 100%;
  object-fit: cover;
}

.bg-parte-2 .cta-padrao{
  margin-top: 20px;
  max-width: 100%;
  width: auto;
  padding-left: 50px;
}

.bg-parte-2 .cta-padrao i{
  margin-left: 25px;
}

/*----- PARTE 3 ------*/
.bg-parte-3 {
  padding: 70px 0px;
  background-color: #161922;
  color: white;
}

.bg-parte-3 h3 {
  margin-top: 45px;
  margin-bottom: 40px;
}

.skill {
  margin-bottom: 20px;
  position: relative;
}

.skill-label {
  font-weight: bold;
}

.skill-bar {
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: #FFE078;
  width: 0;
  transition: width 2s ease-in-out;
}

.skill-percentage {
  position: absolute;
  top: -20%;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
}

.counter {
  font-weight: bold;
  color: #FFE078;
  transition: color 0.3s ease-in-out;
}

/* ---- PARTE 4 -----*/
.bg-parte-4 {
  background-color: #141821;
  text-align: center;
  position: relative;
  padding: 25px 0px 65px;
}

.bg-parte-4 .col-lg-4{
  position: relative;
}

.bg-parte-4 h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

.bg-parte-4 img:hover {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: scale(0.4);
  transform: scale(1.2);
  cursor: pointer;
}

/*---- PARTE 5 ----*/
.bg-parte-5 {
  background: #191D28;
  padding: 60px 0px;
}

.bg-parte-5 h2 {
  margin-bottom: 35px;
}

.card-parte-5 {
  background-color: #161922;
  padding: 40px 25px;
  height: 95%;
}

.card-parte-5 h3 {
  color: #7897ff;
  font-weight: bold;
  font-size: 24px;
  margin: 15px 0px;
}

.card-parte-5 img {
  width: 98px;
}

/*------ PARTE 6 -------*/
.bg-parte-6 {
  padding: 65px 0px;
  background-color: #141821;
}

.bg-parte-6 a{
  color: white;
}

.bg-parte-6 a:hover{
  transition: 0.3s;
  cursor: pointer;
  color: #FFE078;
}

/*------ FOOTER ------*/
.bg-footer {
  background-color: #161922;
  padding: 35px 0px;
  color: white;
}

.bg-footer h2 {
  color: white;
  font-size: 20px;
}

.bg-footer hr {
  background: #FFE078;
  height: 2px;
  margin: 15px 0px;
  opacity: 1;
  font-weight: bold;
}

.bg-footer a {
  float: right;
  margin: 0px 5px;
}

.bg-footer img {
  height: 300px;
}

.bg-footer i, .icones-fixo-left i{
  color: white;
}

.i-wpp:hover {
  color: green;
}

.i-email:hover {
  color: #db4a39;
}

.i-insta:hover {
  color: #E1306C;
}

.i-facebook:hover {
  color: #3b5998;
}

.i-linkedin:hover {
  color: #0e76a8;
}

.i-github {
  color: white;
}

/*-------- ANIMAÇÕES --------*/
@keyframes cta-animation {
  from {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transform-origin: center center;
     transform-origin: center center;
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
  }

  10% {
     -webkit-transform: scale(0.91);
     transform: scale(0.91);
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
  }

  17% {
     -webkit-transform: scale(0.98);
     transform: scale(0.98);
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
  }

  33% {
     -webkit-transform: scale(0.87);
     transform: scale(0.87);
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
  }

  45% {
     -webkit-transform: scale(1.0);
     transform: scale(1.0);
     -webkit-animation-timing-function: ease-out;
     animation-timing-function: ease-out;
  }
}

.cta-padrao {
  -webkit-animation: cta-animation 1.9s ease-in-out infinite both;
  animation: cta-animation 1.9s ease-in-out infinite both;
}

.cta-padrao:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.cta-padrao:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  cursor: pointer;
  background: #FFE078;
  border-radius: 999px;
  color: white;
  transition: all 0.5S;
  z-index: -1;
}

.cta-padrao:hover {
  color: white;
  font-weight: bold;
  border: 2px solid #FFE078;
  cursor: pointer;
  z-index: 3;
}

.cta-padrao:hover:before {
  width: 100%;
}


/* Estilo do switch */
.theme-switcher {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
  transition: background-color 0.5s; 
}

.theme-switch {
  display: none; 
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 80px; 
  height: 34px; 
}

.switch:before {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px; 
}

.switch:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.theme-switch:checked + .switch:before {
  background-color: #FFE078; 
}

.theme-switch:checked + .switch:after {
  transform: translateX(46px);
}

/* Ícones do switch */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
  transition: color 0.4s;
}

.moon {
  left: 10px; 
}

.sun {
  right: 10px; 
  opacity: 1;
}

.theme-switch:checked + .switch .sun {
  opacity: 1;
}

.theme-switch:checked + .switch .moon {
  opacity: 1;
}

/* *********************** Dark Mode************************* */


.dark-mode, .dark-mode .bg-parte-3, .dark-mode .bg-parte-4, .dark-mode .bg-parte-5, .dark-mode .bg-parte-6 {
  background: white;
  transition: 3S;
  color: black;
}

.bg-inicio{
  background: #161922;
}

.bg-parte-2{
  background: #191D28;
}

 .dark-mode nav{
  background-color: #7EBCF2;
}

.dark-mode nav h2 span{
  color: white;
}

.dark-mode h1 {
  color: black;
}

.dark-mode h2 {
  color: #FFE078;
}

.dark-mode p {
  color: black;
}

.dark-mode li {
  color: black;
}

.dark-mode .bg-sobre-mim {
  background-color: black;
  transition: 3S;
}

.dark-mode .bg-rodape {
  background: black;
  color: black;
  transition: 3S;
}

.dark-mode .bg-rodape h4 {
  color: black;
}

.dark-mode .bg-rodape hr {
  background-color: black;
}

.dark-mode .line2 {
  color: #FFE078;
  font-weight: bold;
  font-family: "Special Elite", monospace;
  font-size: 32pt;
  border-right: 2px solid black;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.dark-mode .bg-portifolio-img img {
  border: 1px solid #FFE078;
  height: auto;
  border-radius: 10px;
  max-width: 100%;
}


.dark-mode .i-noite {
  display: none;
}

.esconde-2 {
  display: none;
}

.dark-mode .i-dia {
  display: unset;
}

.botao-dark {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20pt;
  background-color: black;
  color: white;
  transition: 2S;
  float: right;
}

.botao-white {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 20pt;
  background-color: white;
  color: hsl(50, 85%, 55%);
  float: right;
  transition: 2S;
}

.botao-white i {
  transform: rotate(180deg);
}

.dark-mode .icones-fixo-left i {
  color: #7EBCF2;
}

.dark-mode .email-right-fixo a {
  color: #07B9A9;
}

.dark-mode .email-right-fixo::after {
  content: "";
  display: block;
  width: 1px;
  height: 120px;
  margin: 0px auto;
  background-color: white;
}

.dark-mode .icones-fixo-left::after {
  content: "";
  display: block;
  width: 1px;
  height: 120px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: white;
}

.img-gif2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.dark-mode .formularioContato {
  background-color: black;
}

.dark-mode label {
  color: white;
}

.dark-mode .line2 {
  color: #FFE078;
  font-weight: bold;
  font-family: "Special Elite", monospace;
  font-size: 21px;
  border-right: 2px solid white;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

/*-------- PARTE 2 -----*/
.dark-mode .bg-parte-2{
  background: #E1EBF0 !important;
}

/*-------- PARTE 3 -----*/
.dark-mode .skill-progress{
  background: #FFE078;
}

.dark-mode .skill-percentage{
  color: #58D0FF;
}

.dark-mode .bg-parte-3 h3:first-child{
  color: #FFE078;
}

.dark-mode .bg-parte-3 h3{
  font-weight: bold;
  color: #58D0FF;
}

.dark-mode .bg-parte-3 p{
  font-weight: 600;
}

/*-------- PARTE 4 -----*/
.dark-mode .bg-parte-4{
  background: #D9E4FA !important;
}

/*-------- PARTE 5 ------*/
.dark-mode .card-parte-5{
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  
}

/*----- PARTE 6 -----*/
.dark-mode .bg-parte-6{
  background-color: black;
}

.dark-mode .bg-parte-6 h2 span{
  color: red  ;
}


/*--------- FOOTER -------*/
.dark-mode .bg-footer{
  background-color: #E6EBFF;
}

/*-------- CTAS FIXOS -------*/

.cta-fixo-left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}

.icones-fixo-left {
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-top: 120px;
}

.icones-fixo-left::after {
  content: "";
  display: block;
  width: 1px;
  height: 120px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: blue;
}

.email-right-fixo {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.email-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
}

.email-right-fixo a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.email-right-fixo::after {
  content: "";
  display: block;
  width: 1px;
  height: 120px;
  margin: 0px auto;
  background-color: blue;
}

.typing-container {
  position: relative; /* Permite que os h2 se sobreponham na mesma linha */
  height: 40px; /* Mantém uma altura fixa */
}

.typing {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  overflow: hidden; /* Oculta o texto que ultrapassa a largura */
  border-right: 0.15em solid orange; /* Cursor de digitação */
  opacity: 0; /* Inicialmente invisível */
}

@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}


.hand-container {
  position: absolute;
  top: 100%;
  left: -50px; /* Começa fora do card */
  transform: translateY(-50%);
  animation: handSwipe 2s ease-in-out infinite;
      color: #FFE078;
      font-weight: bold;
}

.hand-icon {
  width: 40px;
  height: auto;
}

/* Animação de passagem */
@keyframes handSwipe {
  0% {
    left: -50px;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0.5;
  }
}


@media(max-width: 992px){
  /*------ GLOBAL *-----*/
  nav h2{
    font-size: 12px;
  }

  .cta-padrao{
    width: 90%;
  }

  .icones-fixo-left{
    display: none;
  }

  /*------ INICIO *-----*/
  .bg-inicio{
    padding-bottom: 0;
  }

  .bg-inicio .first{
    margin-top: 0;
  }

  .bg-inicio img{
    height: 50%;
    margin-bottom: 25px;
  }

  /*------ PARTE 2 *-----*/
  .bg-parte-2{
    padding: 0px;
  }

  .bg-parte-2 img{
    margin-left: 0;
    height: auto;
  }

  .bg-parte-2 .col-lg-6:nth-child(2){
    padding: 35px 20px;
  }
}

@media(max-width: 420px){
  .bg-inicio h2{
    font-size: 16px;
  }

  .bg-inicio .h2-dev{
    font-size: 14px;
  }

  .ctas-topo{
    text-align: center;
  }

  .ctas-topo i, .cta-padrao i{
    padding-left: 0;
    text-align: center;
  }
}
